/*common shared styles*/
*{
    margin: 0px;
    padding: 0px;
}
.header-part{
display: flex;
background-color: #fceef1;
justify-content: space-around;
align-items: center;
height: 100vh;
}
.profile-pic{
    height: 800px;
    padding-top: 75px;
}
.heading-title{
    font-size: 55px;
    font-weight: bold;
}
.heading-description{
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.btn-primary{
    background-color: #E55473;
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
}
/*Bonus part*/
.bonus-head{
    text-align: center;
    margin-bottom: 50px;
    padding-top: 100px;

}
.bonus-h{
    margin-bottom: 20px;
}
.box{
    display: flex;
    gap: 20px;
    text-align: center;
    margin-bottom: 20px;
    justify-content: center;
}
.image-1{
    height: 400px;
    width: 350px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}
.image-2{
    height: 400px;
    width: 350px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}
.image-3{
    height: 400px;
    width: 350px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}
.img-colour-3{
    min-height: 300px;
    width: 220px;
    margin-top: 70px;
}
.img-colour-2{
    height: 280px;
    width: 250px;
    margin-top: 120px;
}
.img-colour-1{
    height: 300px;
    width: 220px;
    margin-top: 100px;
}
h4{
    text-decoration: underline;
}
.h4-p{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 250px;
}

/**/
.section-3{
    display: flex;
    background-color: #fceef1;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
}
.section-part-3{
    justify-content: space-around;
    align-items: center;
    gap: 50px;
}
.off{
    color: #E55473;
}
.section-3-h{
    font-size: 40px;
    font-weight: bold;
}
.section-3-p{
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.btn{
    background-color: #E55473;
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
}
.section-3-img{
    width: 318px;
    height: 420px;
    margin-right: 430px;
    margin-top: 100px;
}
/*main section*/
.instagram{
    width: 1920px;
    text-align: center;
    padding-top: 150px;
}
.container-title{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.container-paragraph{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.container-rec-img{
    padding-top: 50px;
    display: flex;
    gap: 24px;
}
.container-rec-img div img{
    width: 342px;
    height: 396px;
}
.container-rec-img-1{
    width: 342px;
    height: 396px;
    margin-left: 220px;
}
.container-rec-img-2{
    width: 342px;
    height: 396px;
}
.container-rec-img-3{
    width: 342px;
    height: 396px;
}
.container-rec-img-4{
    width: 342px;
    height: 396px;
    margin-right: 240px;
}
/*Final section*/
.container-final-section{
    background-image: url('../image/Rectangle\ 9.png');
    width: 1440px;
    height: 300px;
    text-align: center;
    margin-left: 220px;
    margin-top: 100px;
}
.container-final-title{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-top: 40px;
}
.container-final-para{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.input{
    width: 700px;
    height: 64px;
    border: none;
    border-radius: 8px;
    background: #FFF;
}
.subcribe{
    width: 150px;
    height: 64px;
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: none;
    
}
/*footer part*/
.footer{
    justify-content: space-between;
    height: 300px;
    background: #111010;
    margin-top: 100px;

}
.footer-title{
    color: #FFF;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 800px;
    line-height: normal;
    padding-top: 60px;
    text-align: center;
}
span{
    color: #E55473;
}
.footer-para{
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.footer-p{
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
/*extra section*/
.black-service{
    background-color: rgb(159, 162, 165);
    color: #202563;
    margin-top: 20px;
    padding-bottom: 80px;
    margin-top: 100px;
}
.icon1{
    width: 50px;
}
.box1{
    height: 280px;
    width: 280px;
    box-shadow: 1px 1px 2px black 0 0 25px rgb(76, 86, 87) 0 0 5px rgb(93, 93, 223);
    background-color: rgb(81, 105, 105);
    color: whitesmoke;
    text-align: center;
    padding: 25px;
}
.service-container{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
.t1{
    text-align: center;
    padding-top: 20px;
    font-size: 50px;
}


