/*common shared styles*/
body{
    font-family: 'lato',sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.header-part{
    background-color: rgba(229, 84, 115, 0.10);
    display: flex;
    justify-content: space-between;

}
.btn-primary{
    border-radius: 8px;
    background: #E55473;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 240px;
    border: 1px;
    color: white;
    padding: 15px;
}
.btn-primary:hover,{
    color: black;
}
.heading-title{
    color: #272727;
    font-family: Lato;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-top: 200px;
    margin-left: 240px;
    
}
.heading-description{
    color: rgba(39, 39, 39, 0.90);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-left: 240px;
}
/*body part*/
body{
    margin: 0;
}

/*for header style*/
.header{
    background-color: #fff8f3;
    background-repeat: no-repeat;
    background-position: bottom right, top left;
}
.profile-pic{
    width: 635px;
    height: 800px;
    flex-shrink: 0;
    margin-top: 20px;
    margin-right: 30px;
}
/*for bonus part*/
.bonus-head{
    text-align: center;
    margin-top: 180px;
}
.bonus-h{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.bonus-p{
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.image{
    display: flex;
    justify-content: space-between;
    width: 1920px;
    background: #FFF;
}
.section, div , p{
    text-align: center;
}
.img-colour-1{
    width: 464px;
    height: 538px;
    flex-shrink: 0;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    margin-top: 150px;
    margin-left: 170px;
}
.img-colour-2{
    margin-top: 150px;
    gap: 5px;
    width: 464px;
    height: 538px;
    flex-shrink: 0;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}
.img-colour-3{
    margin-top: 150px;
    margin-right: 170px;
    width: 464px;
    height: 538px;
    flex-shrink: 0;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}
/*section 3*/
.section-3{
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    

}
.section-3-h{
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-top: 230px;
    margin-left: 423px;
}
.section-3-p{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    
    margin-left: 395px;
}
.btn{
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background-color: #E55473;
    border: 1px;
    border-radius: 8px;
    text-align: center;
    margin-left: 580px;
}
.section-3-img{
    width: 318px;
    height: 420px;
    flex-shrink: 0;
    margin-right: 430px;
    margin-top: 100px;
}
/*main section*/
.instagram{
    width: 1920px;
    
    text-align: center;
}
.container-title{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.container-paragrahp{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.cotainer-rec-img{
    display: flex;
    gap: 24px;
}
.cotainer-rec-img div img{
    width: 342px;
    height: 396px;
    flex-shrink: 0;
}
.cotainer-rec-img-1{
    width: 342px;
    height: 396px;
    flex-shrink: 0;
    margin-left: 260px;
}
.cotainer-rec-img-2{
    width: 342px;
    height: 396px;
    flex-shrink: 0;
}
.cotainer-rec-img-3{
    width: 342px;
    height: 396px;
    flex-shrink: 0;
}
.cotainer-rec-img-4{
    width: 342px;
    height: 396px;
    flex-shrink: 0;
    margin-right: 240px;
}
/*Final section*/
.container-final-section{
    background-image: url('../image/Rectangle\ 9.png');
    width: 1440px;
    height: 300px;
    flex-shrink: 0;
    text-align: center;
    margin-left: 260px;
}
.container-final-title{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-top: 40px;
}
.container-final-para{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.input{
    width: 700px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;
}
.subcribe{
    width: 150px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
/*footer part*/
.footer{
    justify-content: space-between;
    height: 300px;
    flex-shrink: 0;
    background: #111010;
}
.footer-title{
    color: #FFF;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 800px;
    line-height: normal;
    padding-top: 60px;
}
span{
    color: #E55473;
}
.footer-para{
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.footer-p{
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
/*extra section*/
.black-service{
    background-color: rgb(159, 162, 165);
    color: #202563;
    margin-top: 20px;
    padding-bottom: 80px;
}
.icon1{
    width: 50px;
}
.box{
    height: 280px;
    width: 280px;
    box-shadow: 1px 1px 2px black 0 0 25px rgb(76, 86, 87) 0 0 5px rgb(93, 93, 223);
    background-color: rgb(81, 105, 105);
    color: whitesmoke;
    text-align: center;
    padding: 25px;
}
.service-container{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
.t1{
    text-align: center;
    padding-top: 20px;
    font-size: 50px;
}


